*{
	padding:0;
	border:0;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
	list-style-type: none;
}

body {
	background-image: url("../img/new_year_background.png");
	font-family: 'oswald', sans-serif;
}

#banner {
	background-color: transparent;
	color: #b9c5c8;
	text-align: center;
	padding: 30px 20px 50px 20px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
}

#banner img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	display: block;
	object-fit: cover;
}

p {
	font-family: 'pathway gothic one', sans-serif;
	font-size: 30px;
	color: #4C4E4F;
	text-align: justify;
}
h1 {
	position: relative;
	font-weight: bold;
	/*z-index: 2;*/
	font-size: 120px;
	letter-spacing: 20px;
	font-family: 'oswald', sans-serif;
}

h2 {
	font-family: 'oswald', sans-serif;
	letter-spacing: 9px;
	color: #b9c5c8;
	line-height: 38px;
	text-align: right;
	font-size: 40px;
}

h3 {
	font-family: 'oswald', sans-serif;
	color: #b9c5c8;
	font-size: 30px;
	line-height: 75px;
}

input[type=button] {
	background-color: transparent;
	border: 1px solid #4C4E4F;
	border-radius: 9px;
	font-family: 'oswald', sans-serif;
	font-size: 20px;
	color: #4C4E4F;
	padding: 5px;
}


#navdiv {
	margin-top: 50px;
	margin-bottom: 0;
	width: 60%;
}

ul {
	text-align: center;
	background-color: rgba(185, 197, 200, 0.4);
	border-radius: 13px;
	display:flex;
	line-height:50px;
	margin-left: -8px;
}

.navbar-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
}

.nav li {
	display: inline-block;
	flex-grow:1;
	padding-left: 10px;
}

.nav li a {
	color: #b2b2b2;
	font-size: 20px;
}

/* link stuff */

a {
	color: #296F87;
	display: inline-block;
	text-decoration:none;
	transition:  0.3s ease-in-out;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #b9c5c8 !important;
}

a:active {
	color: #b9c5c8;
}

#blockone {
	margin: 70px 60px 0px 60px;
	position: relative;
	top:0;
	height:auto;
	min-height: 220px;
}

#face {
	float: left;
	margin: 0 auto;
	padding: 0 40px 10px 0;
}

/* pretty sure this does nothing
#face span {

margin: 0px 0px;
} */

#face img {
	max-height: 200px;
}

.image_off, .home:hover .image_on{
	display:none
}
.image_on, .home:hover .image_off{
	display:block
}


#intro {
	display:table;
	padding: 20px 0 0 0;
	margin: 0 auto;
}


#intro {
	display: table-cell;
	vertical-align: middle;
}



#blocktwo {
	display: table;
	width: 100%;
	margin: 50px 0px;
}


#contactinfo {
	width: auto;
	float:left;
	padding: 30px 50px 0 20px;

}
#contactinfo p {
	font-family: 'pathway gothic one', sans-serif;
	font-size: 35px;
	letter-spacing: 1px;
	font-weight:bold;
	color: #4C4E4F;
	line-height: 45px;

}

#kimpossible {
	width: 50%;
	padding: 0 20px 20px 0px;
	border-right: 5px solid #b9c5c8;
	float: left;
}


.workexample {
	display: flex;
	padding: 10px;
}

.mywork img {
	height: 300px;
	width: 425px;
	border-radius: 7%;
	/*border: 5px solid white;*/
}

.descriptions {
	margin: 65px;
	width: 800px;
}

.subpage {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;*/
}


/* footer and JS twitter button */

footer {
	width: 100%;
	background-color: rgba(185, 197, 200, 0.4);
	/*float: left;
	clear: left;*/
	margin: 0 0 20px 0;
	text-align: center;
	padding: 10px 0;
}

footer p {
	color: #4C4E4F;
	font-size: 18px;
	text-align: center;
	line-height: 15px;
	letter-spacing: 1.5px;
}

footer img {
	padding: 0 4px;
	height: 35px;
}


/***** JS attempts *****/

#javamagic {
	margin: 40px;
}

#javamagic p {
	text-align: center;
}

#feed {
	margin: 0 auto;
	width: 50%;
}

/***** responsive stuff *****/
/*
@media screen and (max-width: 945px) {
#banner h1 {
font-size: 85px;
letter-spacing: 10px;
}
#kimpossible h1, #kimpossible h1 {
font-size: 32px;
}

#contactinfo p {
font-size: 27px;
}

#blocktwo {
margin: 30px 0 60px 0;
}
}

@media screen and (max-width: 670px) {

#banner {
height:150px;
}

#navdiv {
width: 90%;
}

#banner h1 {
margin: 0 auto;
font-size: 70px;
letter-spacing: 5px;
}

#kimpossible h1 {
font-size: 22px;
letter-spacing:2px;
}

#contactinfo p {
font-size: 22px;
letter-spacing: 0px;
}

#intro p {
font-size: 22px;
}

#blocktwo {
margin: 15px;
}
}

@media screen and (max-width: 670px) {

#kimpossible {
width: auto;
}
}*/
