*{
padding:0;
border:0;
font-size: inherit;
font-weight: inherit;
font-family: inherit;
text-decoration: inherit;
line-height: inherit;
color: inherit;

}

body {
	background-image: url("../_img/new_year_background.png");
	padding: 0;
	margin: 0;
	font-family: 'oswald', sans-serif;
}

input[type=button] {

	background-color: transparent;
	border: 1px solid #4C4E4F;
	border-radius: 5px;
	font-family: 'oswald', sans-serif;
	font-size: 20px;
	color: #4C4E4F;
}

/* button {
	background-color: transparent;
	border: 1px solid #4C4E4F;
	font-family: 'oswald', sans-serif;
	font-size: 20px;
	color: #4C4E4F;
} */

#banner {
   	font-family: 'oswald', sans-serif;
   	background-color: transparent;
   	color: #b9c5c8;
   	text-align: center;
	/*width: 100%;*/
	/*height: 300px;*/
	padding: 30px 20px 50px 20px;
	position: relative;
	overflow: hidden;
}

#banner h1 {
	position: relative;
	font-weight: bold;
	z-index: 2;
	font-size: 110px;
	/* text-shadow: black 0px 0px 0px; */
  letter-spacing: 20px;
}

 #banner img {
 	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	display: block;
  object-fit: cover;

 	}

#blockone {
	margin: 60px 60px 0px 60px;
	padding: 0px;
}

#face {
	float: left;
	margin: 0 auto;
	padding: 0 40px 0 0;
}

#face span {

	margin: 0px 0px;
}

#face img {
	max-height: 200px;

}

.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}


#intro {
	display:table;
	padding: 0px 0 0 0;
	margin: 0 auto;
	/*max-height: 230px;*/
	}


#intro span {
  display: table-cell;
  vertical-align: middle;
}

/*
#intro h1 {
	font-family: 'fjalla one', sans-serif;
	font-weight: normal;
	color: #1d2227;
	text-align: center;
}
*/

#intro p {

	font-family: 'pathway gothic one', sans-serif;
	font-size: 30px;
	color: #4C4E4F;
	text-align: justify;
}


#blocktwo {
	display: table;
	margin: 50px 0;
	width: 100%;
	min-height: 220px;
}

/************* dont have h2s anwhere right now
#blocktwo h2 {
	font-family: 'fjalla one', sans-serif;
	font-weight: normal;
	color: #4C4E4F;
	text-align: center;
}
************/

#contactinfo {
	width: auto;
	float:left;
	padding: 0px 20px;
	margin:0 20px 0 0;

}
#contactinfo p {
	font-family: 'pathway gothic one', sans-serif;
	font-size: 35px;
	letter-spacing: 1px;
	font-weight:bold;
	color: #4C4E4F;
	line-height: 45px;

}

#kimpossible {
	padding: 0 20px 0 0px;
	border-right: 5px solid #b9c5c8;
	float: left;
	margin: 0 0 0px 0;
	width: 50%;

}

#kimpossible h1 {
	font-family: 'oswald', sans-serif;
	letter-spacing: 9px;
   	color: #b9c5c8;
   	line-height: 38px;
   	text-align: right;
	font-size: 40px;
	background-color: ;

}

/* link stuff */

a:link {
   color: #296F87;
   text-decoration:none;
}

a:visited {
    color: #000000;
    text-decoration:none;
}

a:hover {
    color: #b9c5c8;
    text-decoration:none;
}

a:active {
    color: #b9c5c8;
    text-decoration:none;
}

a {
    transition: color 0.25s ease-in-out;
}


/* footer and JS twitter button */

#bottom {
	width: 100%;
	background-color: rgba(185, 197, 200, 0.4);
	float: left;
	clear: left;
	margin: 0 0 20px 0;
	text-align: center;
	padding: 15px 0 5px 0;
}

#bottom h1 {
	color: #4C4E4F;
	font-size: 18px;
	font-family: 'pathway gothic one', sans-serif;
	text-align: center;
	line-height: 15px;
	letter-spacing: 1.5px;
}

#bottom img {
	padding: 0 4px;
}


@media screen and (max-width: 945px) {
  #banner h1 {
    font-size: 85px;
    letter-spacing: 10px;
  }
  #kimpossible h1, #kimpossible h1 {
  	font-size: 32px;
  }

  #contactinfo p {
  	font-size: 27px;
  }

  #blocktwo {
  	margin: 30px 0;
  }
}

/***** responsive stuff *****/

@media screen and (max-width: 670px) {
  #banner h1 {
    margin: 0 auto;
    font-size: 70px;
    letter-spacing: 5px;
  }

  #kimpossible h1 {
  	font-size: 22px;
  	letter-spacing:2px;
  }

  #contactinfo p {
  	font-size: 22px;
  	letter-spacing: 0px;
  	}

  #intro p {
  	font-size: 22px;
  }

  #blocktwo {
  	margin: 15px;
  }
}

/***** JS attempts *****/

#javaDiv {
	width: 100%;

}

#feed {
	margin: 0 auto;
	width: 50%;
}

#javamagic p {
	margin: 0px 0 20px 0;
	text-align: center;

}
